/* .footer-distributed {
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px sans-serif;

    padding: 55px 50px;

} */
.footer-distributed .footer-icons-demo {
    margin-top: 25px;
    display: flex;
}

#coporate {
    margin: 0rem 5rem;
}

.footer-distributed .footer-icons-demo a {
    display: inline-block;
    width: 30px;
    height: 35px;
    cursor: pointer;
    /* background-color: #33383b; */
    border-radius: 2px;
    font-size: 20px;
    color: grey;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* Card*/
#aboutUS .card {
    border: 0;
}

#aboutUs .card .card-text {
    color: grey;
}

#aboutUs .card img {
    margin: 5px 0px;
}