@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

#nav{
    margin-left: 50em;
    padding: 5px;
}
.nav-link{
    color:  grey;
}
.nav-item{
    padding: 0px 10px;
}
#outerWrap {
    position: relative;
    z-index: 0;
    /* background-image: url("../images/Hero\ \(1\).png"); */
    /* height: 400px; */
    /* width: 650px; */
}



#layer1 {
    position: relative;
    z-index: 1;
    background-color: white;
    height: 97px;
    width: 800px;
    top: -50px;
    left: 250px;
    

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}




.explore p{
    padding: 2px ;
}
.places .card{
    padding: 10px;
    /* border: 0; */
}
.places .card img{
    border-radius: 20px;
}
.bold{
    color: #1DB4FF;
    font-weight: bold;
}
.price{
    color: #6E7491;
    position: absolute;
    right: 20px;
}
.all{
    color: #6E7491;
    position: absolute;
    right: 30px;
    
}
.flight_deals{
    padding: 0px 15px;
    margin-top: 0px;
    color: #6E7491;
}
text{
    font-family: 'Work Sans',
        sans-serif;
}


